:root {
    --bg-dark: #111317;
    --bg: #1E2129;
    --light-highlight: #AAB7C8;
    --text-color: #eceff4;
    --main-accent: #E92063;
    --main-accent-dark: #AD1849;
    --secondary-accent: #2CB0ED;
    --secondary-accent-dark: #446DF2;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--bg);
}

a {
    color: var(--main-accent);
}

button {
    background-color: var(--main-accent);
    color: var(--bg-dark);
    border-color: var(--main-accent);
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-between; /* Add this line to evenly space the columns */
    background: var(--bg);
    max-width: 80vw; /* make the max width of the container 80% of the viewport width */
    min-width: 1000px;
    height: 80vh; /* make the container 80% of the viewport height */
    border: 1px solid var(--text-color);
    overflow: auto;
}

.column {
    flex: 1;
    max-width: 800px; /* make the max width of the column 800px */
    padding: 0;
    border: 1px solid var(--text-color);
    overflow: auto;
}

.entry {
    border-bottom: 1px solid var(--text-color); /* adds bottom border to each entry */
    padding: 10px;
    min-height: 50px;
}

.entry:hover {
    background-color: var(--bg-dark);
}

.primary-line {
    font-weight: bold;
    font-size: 1.2em;
}

.secondary-line {
    font-style: italic;
}

.download_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--main-accent);
    color: var(--bg-dark);
    border-color: var(--main-accent-dark);
    border-width: 2px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.download_button:hover {
    background-color: var(--secondary-accent);
    border-color: var(--secondary-accent-dark);
    color: white;
}

.flex-entry {
    justify-content: space-between;
    display: flex;
}
