:root {
    --primary-color: #111317;
    --secondary-color: #1E2129;
    --text-color: #eceff4;
    --button-color: #E92063;
    --accent-color: #E92063;
    --accent-color-dark: #AD1849;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
}

a {
    color: var(--button-color);
}

button {
    background-color: var(--button-color);
    color: var(--primary-color);
    border-color: var(--accent-color);
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-between; /* Add this line to evenly space the columns */
    background: var(--secondary-color);
    max-width: 80vw; /* make the max width of the container 80% of the viewport width */
    min-width: 1000px;
    height: 80vh; /* make the container 80% of the viewport height */
    border: 1px solid var(--text-color);
    overflow: auto;
}

.column {
    flex: 1;
    max-width: 800px; /* make the max width of the column 800px */
    padding: 10px;
    border: 1px solid var(--text-color);
    overflow: auto;
}

.entry {
    border-bottom: 1px solid var(--text-color); /* adds bottom border to each entry */
    padding: 10px 0; /* adds some vertical padding */
}

.entry:hover {

}

.primary-line {
    font-weight: bold;
    font-size: 1.2em;
}

.secondary-line {
    font-style: italic;
}

.download_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--button-color);
    color: var(--primary-color);
    border-color: var(--accent-color);
    border-width: 2px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button.download_button:hover {
    background-color: #45a049; /* choose color for hover effect */
    color: white;
}

.flex-entry {
    justify-content: space-between;
    display: flex;
}
