version: '3.7'

services:
  app:
    image: ghcr.io/rainbowdashlabs/lyna:latest
    networks:
      - lyna
    depends_on:
      - postgres
    volumes:
      - ./config/:/app/config/
    profiles:
      - prod
  app_dev:
    build: .
    networks:
      - lyna
    depends_on:
      - postgres
    volumes:
      - ./config/:/app/config/
    profiles:
      - dev
  postgres:
    networks:
      - lyna
    image: postgres:16.1
    expose:
      - 5432
    volumes:
      - db_data:/var/lib/postgres/data
    environment:
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "pw"
      POSTGRES_DB: "lyna"

networks:
  lyna:
    name: lyna
    external: false

volumes:
  db_data:
